
<% if (theme.view_markdown.enable == true) { %>
  <div class="new-meta-item markdown">
    <%
      base_url = theme.view_markdown.url.replace(/\/+$/gm,'')
      post_path = post.path.replace(/^\/+|\/+$/gm,'')
    %>
    <% if (post_path == "about/index.html") { %>
      <a href="<%- url_for(base_url + '/about/index.md') %>" rel="nofollow">
    <% } else { %>
      <a href="<%- url_for(base_url + '/_posts/' + post_path + '.md') %>" rel="nofollow">
    <% } %>
      <i class="fab fa-markdown"></i>
      <p><%- __('post.markdown_source') %></p>
    </a>
  </div>
<% } %>

